
body{
	font-family: 'El Messiri', sans-serif;	
	margin:0px;
	.navbar-fixed-top{
		height:50px;
		background: rgba(95, 158, 160, 0.98);
		border:none;
		.logo , .icon{
			margin:5px 0px;
			padding:0px;
		}
		.logo{
			position:relative;
			top:10vh;
			left:10vw;
			width:300px;
			height:100px;
			transition: all 1s ease;
		}
		.icon{
			height:40px;
			width:70px;
			background:white;
			border-radius:50%;
		}
		.minified{
			top:0px;
			left:0px;
			height:40px;
			width:120px;
		}	
		.nav{
			float: right;
			margin:10px 0px;
			float:right;
			list-style-type : none;
			border:none;
			li{
				margin : 0 10px;
				a {
					text-decoration : none;
					color           : white;
					padding         : 5px;
					font-size       : 16px;
					font-weight     : light;
					border-radius   : 5px;
					border          : none;
					background      : none;
					transition      : background 1s;
					-webkit-transition-timing-function : linear; /* Safari and Chrome */
    				transition-timing-function         : linear;
				}
				a:hover {
					color:rgb(95, 158, 160);
					background:white;
				}
			}
		}
	}
	.trans-on-load{
		position: relative;
		transition: top 1s;
		-webkit-transition-timing-function : ease; /* Safari and Chrome */
    	transition-timing-function         : ease;
				
	}
	.come-from-top{
		top: -500px;
	}
	.come-from-bottom {
		top: 500px;
		display: table;
		margin: 0 auto;
	}
	.head_intro , .section-about-more {
		background-image     : url("../assets/img/bg1.jpeg");
		background-attachment: fixed;
		background-size      : 100% 100%;
		background-position  : center;
		overflow             : hidden;
		font-family          : 'Arima Madurai',cursive;
		display              : table;
		vertical-align       : middle;
		width                : 100%;
		height				 : -webkit-calc(100vh + 100px);
		height				 : -moz-calc(100vh + 100px);
		height				 : calc(100vh + 100px);
		transition           : background-size 1s;
		position             : relative;
		.test {
			width          :100%;
			display        :table-cell;
			vertical-align : middle;
			margin         : 0 auto;
			.heading {
				margin      : 5% 0%;
				text-align  : center;
				color       : white;
				font-size   : 4em;
			}
			.intro {
				color         : white;
				font-size     : 5vmin;
				text-align    : center;
				display       : table-cell;
				vertical-align: middle;
			}
		}
	}
	.section-about{
		font-family:'Arima Madurai','sans-sarif';
		font-weight:100;
		.summary{

			padding: 50px 10px;
			color:#999;
			font-size:1.5em;
			position:relative;
			.vertical-rule{
				width:1px;
				border:0px;
				background:#999;
				height:90%;
				position:absolute;
				top:50px;
				right:0px;
			}
		}
		.section-form{
			padding:50px 0px;
		}
	}
	.section-about-more{
		height:100vh;
		background-image     : url("../assets/img/bg2.jpg");
		.portfolio-cover{
			background: rgba(95, 158, 160, 0.50);	
		}
		.portfolio{
			width:100%;
			padding:5%;
			height:100%;
			.card{
				margin:10px;
				height:200px;
				img{
					border-radius:50%;
					width: 200px;
					height:200px;
				}
				.quote{
					padding:20px 10px;
					color:white;
					h1{
						font-size:2em;
					}
					span{
						font-size:1em;
					}
				}	
			}
		}
	}
	footer{
		position:relative;
		text-align: center;
		padding: 10px 0px;
		background-color: #24305e;
		a{
	  		text-decoration: none;
	  		color: white;
		}
		p{
	  		margin : 0px;
	  		color: white;
		}
	}
}
.wedge-down , .wedge-up{
	position:absolute;
	width:100%;
	left:0px;
	right:0px;
	height:0px;
}
.wedge-down{
	bottom:0px;
	border-bottom:100px solid white;
	border-right:100vw solid transparent;
}
.wedge-up{
	top:0px;
	border-top:100px solid white;
	border-left:100vw solid transparent;
}
.horizontal-bar{
	margin:1% 20%;
	width:60%;
	height:1px;
	background:white;
}